<h2>Carrito</h2>
{{#if products.length}}
    <ul>
    {{#each products}}
        <li>
            {{products.title}} - ${{products.price}} x {{products.quantity}}
        </li>
    {{/each}}
    </ul>
{{else}}
<p>Su carrito está vacío actualmente</p>
{{/if}}